{% extends 'admin.html.twig' %}

{% block title %}Catégorie index{% endblock %}

{% block _content %}

    <div class="d-flex flex-row justify-content-between align-items-center flex-wrap">
        <h1 class="action-title">Modification d'une catégorie</h1>
    </div>

    {{ include('category/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
