body {
  font-size: 12px;
  padding: 0 !important;
  letter-spacing: 0.02rem !important;
}

.btn {
  font-weight: bold;
  font-size: 12px !important;
}

.table thead th {
  min-width: 110px;
  font-weight: 700;
  font-size: 12px;
}

.table td {
  font-weight: 400;
  font-size: 12px;
}

::-webkit-scrollbar {
  border-radius: 10px;
  height: auto;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: lightgrey;
}

.radius {
  border-radius: 1rem;
}

legend {
  border: none !important;
}

.menu-logo {
  padding: 16px;
}

.sidebar-chellal {
  width: 15rem !important;
  background-color: $chellalDark;
}

.menu-list {
  margin-top: 15%;
  color: white;
  padding: 16px;
  font-style: normal;
  font-weight: 300;
  font-size: 24.6863px;
  line-height: 30px;

  & i, span {
    color: white;
    margin-right: 8px;

    &:hover {
      opacity: 0.5;
    }
  }
}

.menu-label {
  font-size: 18px;
  padding-top: 4px;
}

.preview-img {
  max-width: 200px;
  max-height: 200px;
}

.preview-img-sm {
  max-width: 80px;
  max-height: 80px;
}

input {
  min-height: 50px !important;
}

input[type=checkbox], input[type=radio] {
  min-height: auto !important;
}

.btn-chellal {
  font-weight: bold !important;
}

.action-title {
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.6;
}

.profile-img {
  max-width: 200px;
  max-height: 200px;
}

.nav-tabs-bottom .nav-link.active:before {
  background-color: $chellal !important;
}


.main_content {
  padding: 0 !important;
  //height: 100%;
}

.banner-section {
  width: 100%;
  height: 30%;
  background-color: white;

  @media screen and (max-width: 700px) {
    height: 25%;
  }
}

.banner-section-container {
  //background-image: url('/build/images/chellal-banner.jpeg');
  background-image: url('/build/images/logo_green.svg');
  //background-image: url('/build/images/favicon.png');
  filter: blur(3px);
  -webkit-filter: blur(3px);
  background-size: 35%;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-color: black;

  @media screen and (max-width: 950px) {
    background-size: 50%;
  }
}

.banner-section-search-container {
  position: absolute;
  top: 29% !important;
  left: 50% !important;
  margin-top: 0 !important;
  background-color: #00000066 !important;
  height: 80px !important;
  transform: translate(-50%, -50%);
  z-index: 2;

  & .row {
    width: 100%;
  }
}


.show-card-container {
  width: 80%;
  border-radius: 8px;
  background-color: $chellalLight;
  padding: 16px;
  margin: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.pill-card-container {
  min-width: 165px;
  border-radius: 8px;
  background-color: #45cfcc29;
  box-shadow: $box-shadow-sm;
  padding: 8px;
  margin: 8px 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  flex-wrap: wrap;
}

.show-card-icon {
  background-color: $white;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;

  & i {
    color: $chellal;
    font-size: 25px;
  }
}

.show-card-text {
  color: black;
  font-size: 14px;
  font-weight: normal;
}

.pill-card-text-first {
  color: black;
  font-weight: normal;
  font-size: 14px;

  & i {
    margin-right: 8px;
    color: $chellal;
    font-size: 22px;
  }
}

.pill-card-text {
  display: flex;
  flex-direction: column;
}

.pill-card-text-second {
  color: black;
  margin: 4px 0;
  font-size: 16px;
  font-weight: bolder;
}

.pill-card-text-third {
  color: $chellal;
  font-size: 12px;
  font-weight: bold;
}

.btn-regalage-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.bull-stats-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  width: 100%;
}

.btn-reglage {
  min-width: 185px;
  margin: 8px;
  padding: 8px;

  & .show-card-icon {
    margin-right: 8px;
  }
}

.card-first-title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: $black;
}

.two-card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and (max-width: 670px) {
    justify-content: center;
  }
}

.two-card-left-container {
  width: 49%;
  padding: 24px;

  @media screen and (max-width: 670px) {
    width: 95%;
  }
}

.two-card-left-container-content {
  display: flex;
  flex-direction: column;
}

.two-card-right-container {
  width: 49%;
  padding: 24px;

  @media screen and (max-width: 670px) {
    width: 95%;
  }

}

.two-card-right-container-content {

}

.card-shadow {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  border: 0 solid rgba(0,0,0,.125) !important;
}

::-webkit-scrollbar {
  border-radius: 10px;
  height: 8px;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: $gray-700;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

.card-center-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.card-center-container-top {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }
}

.card-center-left {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  @media screen and (max-width: 650px) {
    flex-direction: column;
  }
}

.span-status {
  padding: 4px 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: $white;
  border-radius: 16px;
  text-align: center;
}

.pharmacy-card-info-text {
  font-size: 16px;
  line-height: 20px;
}

.pharmacy-card-name {
  color: $chellal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
}

.pharmacy-owner-link {
  color: $chellal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.card-center-image {
  margin-bottom: 16px;

  & img {
    width: 200px;
    height: 200px;
    margin-right: 24px;
    object-fit: cover;
    border-radius: 8px;
  }
}

.dataTable thead .sorting, .table-responsive table thead {
  background-color: $chellal;
  color: $white;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-first-title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: $black;
}

.two-card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and (max-width: 670px) {
    justify-content: center;
  }
}

.two-card-left-container {
  width: 49%;
  padding: 24px;

  @media screen and (max-width: 670px) {
    width: 95%;
  }
}

.two-card-left-container-content {
  display: flex;
  flex-direction: column;
}

.two-card-right-container {
  width: 49%;
  padding: 24px;

  @media screen and (max-width: 670px) {
    width: 95%;
  }

}

.two-card-right-container-content {

}

.card-shadow {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}

.bg-chellal {
  background-color: $chellal;
}

.border-chellal {
  border: 1px solid $chellal;
}

table th:first-child {
  border-radius: 8px 0 0 0 ;
}
table th:last-child {
  border-radius:  0 8px  0 0 ;
}

.table {
  color: $black;
}

.col-form-label.required:after {
  content:" *";
  color:red;
}

.header-menu-dropdown {
  width: max-content;

  @media (max-width: 991.98px) {
    width: auto;
  }
}

.activityIndicator {
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.daterangepicker td.active:not(.off), .daterangepicker td.active:not(.off):hover {
  background-color: $chellal;
}

.chart-div {
  margin: 16px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.activityIndicator {
  align-self: center;
}

.chart-circle-div, .chart-bar-div {
  width: 100%;
  text-align: center;
}

.chart-circle-div {
  margin: 8px auto;
  max-width: 350px;
}

.chart-bar-div {
  margin: 8px auto;
  justify-content: end;
  max-width: 600px;
}

.btn-logout {
  color: white;
  font-style: normal;
  font-weight: 300;
  font-size: 24.6863px;
  line-height: 30px;
  padding: 16px;
  margin-top: 45px;
  a {
    color: white;
  }
}

.btn-logout:hover a {
  color: $chellal !important;
}

.btn-logout:hover a .logout-icon {
  color: $chellal !important;
}

.logout-icon {
  margin-right: 1.25rem !important;
  margin-top: 0.1875rem;
  margin-bottom: 0.1875rem;
  top: 0;
  color: white;
}

.iti {
  display: flex !important;
}

.card-title {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000;
}

table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc, table.dataTable thead .sorting {
  background-image: none !important;
}

.tfoot-search {
  display: table-header-group;
}

.t-checkbox {
  padding: 10px !important;
}

.dataTables_filter {
  display: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  border: 1px solid $chellal !important;
  //background: linear-gradient(to bottom, $chellal 0%, $chellalDark 100%) !important;
  background: $chellalLight !important;
}

.dataTables_paginate .paginate_button.current,
.dataTables_paginate .paginate_button.current:focus,
.dataTables_paginate .paginate_button.current:hover {
  background-color: $chellal !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  border-radius: 8px !important;
}

table.dataTable {
  width: 100% !important;
}

.layout-container {
  max-width: 1440px;
  margin: 0 auto;
}

.btn-shadow {
  box-shadow: 1px 3px 8px rgba($black, 0.5);
}

.embedded-form-container {
  border: 1px solid rgba(0,0,0,0.26) ;
  margin: 8px 0;
  padding: 8px;
  border-radius: 8px;
}
.embedded-form-li {
  max-width: 300px;
  margin: 4px;
}


.removeButton {
  background-color: $red;
  color: $white;
  &:hover{
    color: $white;
  }
}
.add_item_link {
  background-color: $cyan;
  color: $white;
  margin: 8px 0;
  &:hover{
    color: $white;
  }
}

.form-control {
  font-size: 16px !important;
}

.navbar-light {
  border-bottom-color: $chellalLight;
}

.navbar-light .show>.navbar-nav-link {
  background-color: transparent;
}

.g-recaptcha {
  margin: 16px 0;
}

.white-space-wrap {
  white-space:pre-wrap;
}

.white-space-pre-line {
  white-space:pre-line;
}

.fa-1rem, .icon-1rem {
  font-size: 1.3rem;
}

.input-group>.form-control {
  min-width: 221px;
}

.total_price_div {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.table-all-med {
  //max-width: 610px;
}

.table-mt {
  //max-width: 610px;
  margin-top: 42px;
}

.table-sale-result input {
  min-height: 25px!important;
  max-width: 90px !important;

  padding: 4px;
  color: #333;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid $chellal;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.table-sale-result th:not(:first-child) {
  min-width: auto !important;
  width: 103px !important;
}

.nav-sidebar .nav-link {
  align-items: center !important;
}