{% extends 'admin.html.twig' %}

{% block title %}Création d'un event{% endblock %}

{% block _content %}

    <div class="d-flex flex-row justify-content-between align-items-center flex-wrap">
        <h1 class="action-title">Création d'un event</h1>
    </div>

    {{ include('prix/_form.html.twig') }}
{% endblock %}
