{% extends 'admin.html.twig' %}

{% block title %}User index{% endblock %}

{% block _content %}

    <div class="d-flex flex-row justify-content-between align-items-center flex-wrap">
        <h1 class="action-title">Modification d'utilisateur</h1>
    </div>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
