{% extends 'base.html.twig' %}

{% block title %}Réinitialisation{% endblock %}
{% block content %}
    <div class="d-flex justify-content-center limiter" style="margin-top: 170px; margin-bottom: 70px">
        <div class="register-container">
            <div class="request-wrap text-center">
                    <form method="post" class="register-form">
                        <h3 class="register-form-title">Réinitialisation</h3>
                        <div class="mt-4 mb-4">Un e-mail a été envoyé. Il contient un lien
                            sur lequel il vous faudra cliquer pour réinitialiser votre mot de passe.
                        </div>

                        <a href="{{ path('app_login') }}" class="btn btn-paletteEvent btn-success mt-2 rounded-lg">
                            Retour
                        </a>
                    </form>
            </div>
        </div>
    </div>
{% endblock %}
