{% extends 'base.html.twig' %}

{% block title %}Changer le mot de passe{% endblock %}
{% block content %}
    <div class="limiter" style="margin-top: 13%;">
        <div class="container py-lg-5 py-md-4 py-2" style="padding-top: 0 !important;">
        <div class="register-container">
            <h4 class="register-form-title text-center mb-5">Mot de passe oublié ?</h4>
            <div class="request-wrap">
                <form method="post" action="{{ path('app_user_send_reset_email') }}" class="register-form">
                    <div class="form-group input-request">
                        <input type="text" placeholder="Email" class="form-control input-primary my-2" id="username" name="username" required="required" />
                        {% if invalid_username is defined %}
                            <p class="text-danger">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
                        {% endif %}
                        {% for message in app.flashes('danger') %}
                            <div class="alert alert-danger">
                                {{ message|raw }}
                            </div>
                        {% endfor %}
                    </div>
                    <button class="register-form-btn btn btn-outline-success mt-3" type="submit">
                        Réinitialiser
                    </button>
                </form>
            </div>
        </div>
        </div>
     </div>
{% endblock %}
