{% extends 'base.html.twig' %}

{% block title %}Changer le mot de passe{% endblock %}
{% block content %}
    <div class="limiter">
        <div class="register-container">
            <div class="request-wrap">
                <form method="post" action="{{ path('app_user_send_reset_email') }}" class="register-form">
                    <span class="register-form-title">Mot de passe oublié ?</span>
                    <div class="form-group input-request">
                        <input type="text" placeholder="Email" class="form-control input-primary" id="username" name="username" required="required" />
                        {% if invalid_username is defined %}
                            <p class="text-danger">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
                        {% endif %}
                    </div>
                    <button class="register-form-btn" type="submit">
                        Réinitialiser
                    </button>
                </form>
            </div>
        </div>
     </div>
{% endblock %}
